beautifulsoup4
chromadb==0.5.3
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.9
langchain-openai==0.1.9
langchain-text-splitters==0.2.1
openai==1.35.3
protobuf==3.20.2
python-dotenv==1.0.1
streamlit==1.36.0
tiktoken==0.7.0